.homeButtons{
    display:flex;
    flex-flow: column;
    justify-content: space-around;
    height: 90vw;
    width: 60vw;
}

.homeButtons button{
    padding: 5vw;
}

.container{
    display:flex;
    align-items: center;
    justify-content: center;
}

.homepage-option{
    border-radius: 3vw;
    font-size: 5vw;
    background-image: linear-gradient(to bottom, #009200, #86e986);
}

.homepage-option:hover{
    opacity:.8;
}