nav{
    background-color: #474444;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0vw;
    width:100vw;
}

nav ul{
    width:100%;
    display:flex;
    justify-content: space-around;
    list-style: none;
}

nav ul li {
    color:aliceblue;
    text-decoration: none;
}

.navBarIcon{
    width:10vw;
}