nav{
    background-color: #474444;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0vw;
    width:100vw;
}

nav .navBlock{
    padding: 5vw;
    color:aliceblue;
}
