.App {
  text-align: center;
}
.calendar{
  width:60%;
}

html{
  background-image: linear-gradient(to bottom, #1b1c1e, #47494e);
  height:100%;
  width:100vw;

}

body{
  color:aliceblue
}
.title{
  font-size: 10vw;
  margin-top: 5vw;
  margin-bottom: 5vw;
}