.App {
  text-align: center;
}
.calendar{
  width:60%;
}

html{
  background-image: linear-gradient(to bottom, #FFF6C3, #fff6c3);
  height:100%;
  width:100vw;
}

body{
  color:rgb(0, 0, 0)
}
.title{
  font-size: 10vw;
  margin-top: 5vw;
  margin-bottom: 5vw;
}