.artist{
    display:flex;
    flex-flow: column;
    padding:5vw;
}

.artist img{
    width:15vw;
    height:15vw;
}

.artistGrid{
    display:flex;
    flex-flow:column;
    justify-content: space-between;
    align-items: center;
}

.playlist{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.playlistInfo{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.playlist img{
    width:50vw;
    height:50vw;
}

.playlistDescription{
    width:50%;
}