h2{
    margin:0;
    margin-top:5vw;
}

.artist{
    display:flex;
    flex-flow: column;
    padding:5vw;
}

.artist img{
    width:15vw;
    height:15vw;
}

.artistGrid{
    display:flex;
    flex-flow:column;
    justify-content: space-between;
    align-items: center;
}

.playlist{
    margin-top: 5vw;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.playlistInfo{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    position: absolute;
    background-color: black;
    width: 75vw;
    height: 90.5vw;
}

.playlist img{
    width:75vw;
    height:90vw;
    margin-top: 4vw;
}

.playlistDescription{
    width:70%;
}


.fade-in{
    opacity:.8;
    transition: opacity .6s ease
}
.fade-out{
    opacity:0;
    transition: opacity .6s ease
}